<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>IMKit Demo</title>
  <link rel="apple-touch-icon" size="192x192" href="static/favicon-192.png" />
  <link rel="Shortcut Icon" size="32x32" href="static/favicon-32.png" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@quasar/extras/material-icons/material-icons.css">
  <link href="//cdn.jsdelivr.net/npm/quasar@^1.0.3/dist/quasar.min.css" rel="stylesheet" type="text/css">
  <style>
    html,
    body,
    #q-app,
    .q-layout,
    .q-page-container {
      height: 100%;
      overflow: hidden;
    }

    .hideDropdownArrow .q-btn-dropdown__arrow {
      display: none;
    }

    #chatIframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <div id="q-app">
    <q-layout view="hHh lpR fFf">

      <q-header class="bg-primary text-white">
        <q-toolbar class="bg-primary text-white">
          <q-toolbar-title>
            <img src="static/logo.png" height="30px" class="block">
          </q-toolbar-title>
          <q-btn flat round dense icon="question_answer" class="q-mr-sm" @click="showChat">
            <q-badge floating color="red" v-if="badge">{{badge}}</q-badge>
          </q-btn>
          <!--
          <q-btn-dropdown flat round dense icon="people_alt" class="q-mr-sm hideDropdownArrow">
            <q-list style="width: 300px;">
              <q-item-label header>Member List</q-item-label>
              <q-item v-for="n in 30" :key="`x.${n}`" clickable v-close-popup tabindex="0">
                <q-item-section avatar>
                  <q-avatar icon="person" color="secondary" text-color="white" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Nickname</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-icon name="lens" size="xs" color="secondary" />
                </q-item-section>
              </q-item>
              <q-separator inset spaced />
            </q-list>
          </q-btn-dropdown>
          -->
          <q-btn flat round dense icon="exit_to_app" href="demo/signin.html" type="a">
          </q-btn>
        </q-toolbar>
      </q-header>

      <q-page-container>
        <iframe src="demo/chat.html" frameborder="0" id="chatIframe" v-if="isShowChat"></iframe>
      </q-page-container>

    </q-layout>

  </div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/qs/6.9.0/qs.js"></script>
<script src="//cdn.jsdelivr.net/npm/quasar@^1.0.3/dist/quasar.ie.polyfills.umd.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/quasar@^1.0.3/dist/quasar.umd.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/imkit/imkit-js-lib@3.0.18/lib/imkit-js-api-v3.web.js"></script>
<script src="demo/appServerConfig.js"></script>
<script src="static/config.js"></script>
<script>
  new Vue({
    el: '#q-app',
    data: function () {
      return {
        isShowChat: false,
        badge: 0
      }
    },
    methods: {
      showChat() {
        this.badge = 0;
        this.isShowChat = true;
      },
      getBadge(isAgain) {
        if (this.isShowChat) {
          return;
        }
        let token = localStorage.getItem("IMKit-token");
        axios({
          method: 'get',
          url: config.domain + '/me/badge',
          headers: {
            "Authorization": token,
            "CLIENT_KEY": config.clientKey
          }
        }).then((response) => {
          this.badge = response.data.result.badge;
        }).catch((error) => {
          if (isAgain) {
            this.logout();
          } else {
            this.refreshToken(() => { this.getBadge(true) });
          }
        });
      },
      refreshToken(cb) {
        let refreshToken = localStorage.getItem("IMKit-refreshToken");
        if (!refreshToken) {
          this.logout();
          return;
        }

        Quasar.Loading.show();
        let data = {
          refresh_token: refreshToken
        }
        axios({
          method: 'post',
          url: appServerConfig.domain + '/api/auth/refreshToken',
          data: Qs.stringify(data),
          headers: {
            "Authorization": "Basic " + appServerConfig.authorization,
            "Content-Type": "application/x-www-form-urlencoded"
          }
        }).then(function (response) {
          if (!response.data.errorCode) {
            //成功
            localStorage.setItem("IMKit-token", response.data.data.data.access_token);
            localStorage.setItem("IMKit-refreshToken", response.data.data.data.refresh_token);
            if (cb) {
              cb();
            }
          } else {
            this.logout();
          }
          Quasar.Loading.hide();
        }).catch(function (error) {
          this.logout();
          Quasar.Loading.hide();
        });
      },
      logout() {
        localStorage.removeItem('IMKit-token');
        localStorage.removeItem('IMKit-refreshToken');
        window.top.location.href = 'demo/signin.html';
      }
    },
    mounted() {
      setInterval(() => {
        this.getBadge();
      }, 20000);
    }
  })
</script>
<script>
</script>

</html>
